@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: D-DIN;
	src: url('/fonts/D-DIN.otf');
}
@font-face {
	font-family:D-DIN-Bold;
	src:url('../fonts/D-DIN-Bold.otf');
}
@font-face {
	font-family:D-DIN-Italic;
	src:url('../fonts/D-DIN-Italic.otf');
}
@font-face {
	font-family:D-DINCondensed;
	src:url('../fonts/D-DINCondensed.otf');
}
@font-face {
	font-family:D-DINCondensed-Bold;
	src:url('../fonts/D-DINCondensed-Bold.otf');
}
@font-face {
	font-family:D-DINExp;
	src:url('../fonts/D-DINExp.otf');
}
@font-face {
	font-family:D-DINExp-Bold;
	src:url('../fonts/D-DINExp-Bold.otf');
}
@font-face {
	font-family:D-DINExp-Italic;
	src:url('../fonts/D-DINExp-Italic.otf');
}

body {
	background-image: url("../images/ivana-cajina-asuyh-_ZX54-unsplash.jpg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	color:white;
	font-family:D-DIN-Bold;
	margin:0;
	box-sizing:  border-box;
}
h1, p {
	text-transform: uppercase;
}
.dashboard {
	text-align: center;
	text

}
.container {
	background-color:black;
	position:relative;
	align-items: center;
	text-align:center;
	margin:1% 30px 30px 30px;
	border:2px solid white;
	padding: 5%;
	box-shadow: 5px 10px 12px black;
}
.logo {
	color:white;
	width:50%;
	margin-left:28%;
    margin-top:5%;
} 
.responsive{
	display:grid;
	grid-template-columns: 100%;
}
.container h1{
		font-size: 100%;
		text-align: center;
}
.container p{
		font-size:75%;
		text-align: center;
}

.dashboard {
		font-size: 1.5em;
	}
.yAxes{
	float:left;
}
@media only screen and (min-width: 799px) and (max-width:1919px){
	.container h1{
		font-size: 125%;
	}
	.container p{
		font-size:100%;
	}
	.container {
		margin-top:3%;
		border:4px solid white;
		height:75%;
	}
	.logo{
		width:30%;
		margin-left:36%;
		margin-top:3%;
	}
	.responsive{
		grid-template-columns: 50% 50%;
	}

}
@media only screen and (min-width:1920px){
	.container {
		margin-top:2%;
		border:6px solid white;
		padding:2%;
	}
	.container h1{
		font-size:150%;
	}
	.container p {
		font-size: 125%;
	}
	.logo {
		width:15%;
		margin-top:1%;
		margin-left:44%;
	}
	.responsive{
		grid-template-columns: 33.3% 33.3% 33.3%;
	}
	#supply{
		grid-column: 3/4;
	}
	#acceleration{
		grid-column:2/3;
		grid-row:1;
	}

}