@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: D-DIN;
	src: url('/fonts/D-DIN.otf');
}
@font-face {
	font-family:D-DIN-Bold;
	src:url('../fonts/D-DIN-Bold.otf');
}
@font-face {
	font-family:D-DIN-Italic;
	src:url('../fonts/D-DIN-Italic.otf');
}
@font-face {
	font-family:D-DINCondensed;
	src:url('../fonts/D-DINCondensed.otf');
}
@font-face {
	font-family:D-DINCondensed-Bold;
	src:url('../fonts/D-DINCondensed-Bold.otf');
}
@font-face {
	font-family:D-DINExp;
	src:url('../fonts/D-DINExp.otf');
}
@font-face {
	font-family:D-DINExp-Bold;
	src:url('../fonts/D-DINExp-Bold.otf');
}
@font-face {
	font-family:D-DINExp-Italic;
	src:url('../fonts/D-DINExp-Italic.otf');
}

body {
	background-color:black;
}
p {
	font-family: D-DIN-Bold;
	color:white;
	font-size:3em;
}
.container {
	position:relative;
	
	width:800px;
}

